@font-face {
	font-family: 'Montserrat';
	src: url('../resources/Montserrat-Regular.otf');
}

@font-face {
	font-family: 'Montserrat Light';
	src: url('../resources/Montserrat-Light.otf');
}

@font-face {
	font-family: 'Montserrat Ultra Light';
	src: url('../resources/Montserrat-UltraLight.otf');
}

#titlePane {
	-fx-background-color: #474E60;
}

#urgendaIcon {
	-fx-image: url('../resources/urgenda_icon.png');
}

#logoLabel {
	-fx-font-family: "Montserrat Ultra Light";
	-fx-font-size: 38px;
	-fx-text-fill: white;
}

#displayHeader {
	-fx-font-family: "Montserrat Ultra Light";
	-fx-font-size: 20px;
	-fx-text-fill: white;
}

#headerPane {
	-fx-background-color: grey;
}

#displayPane {
	-fx-background-color: #474E60;
}

#indexHeader, #descHeader, #startHeader, #endHeader {
	-fx-font-family: "Montserrat";
	-fx-font-size: 14px;
	-fx-text-fill: white;
}

#noviceHeaderPane {
	-fx-background-color: white;
}

#noviceHeaderLabel {
	-fx-font-family: "Montserrat Light";
	-fx-font-size: 14px;
	-fx-text-fill: black;
}

#taskIndexLabel, #taskDescLabel, #taskStartLabel, #dateTimeTypeLabel, #taskEndLabel, #taskDateTimeLabel  {
	-fx-font-family: "Montserrat Light";
	-fx-font-size: 14px;
	-fx-text-fill: #474E60;
}

#taskLocationLabel, #dateCreatedHeader #dateModifiedHeader {
	-fx-font-family: "Montserrat";
	-fx-font-size: 12px;
	-fx-text-fill: #474E60;
}

#dateCreatedHeader, #dateModifiedHeader, #dateCreatedLabel, #dateModifiedLabel {
	-fx-font-family: "Montserrat Light";
	-fx-font-size: 12px;
	-fx-text-fill: #474E60;
}

#feedbackPane {
	-fx-background-color: #313745;
}

#feedbackArea {
	-fx-background-color: transparent;
	-fx-border-width: 0, 0, 0, 0;
	-fx-font-family: "Montserrat Light";
	-fx-font-size: 16px;
	-fx-text-fill: white;
	
}

#feedbackArea .scroll-pane .viewport, #feedbackArea .scroll-pane .content{
    -fx-background-color: transparent;
}

#feedbackArea .scroll-pane {
	-fx-vbar-policy: always;
}

#feedbackArea .scroll-pane .scroll-bar:vertical{
	-fx-background-color: transparent;
	-fx-unit-increment: 15px;
	-fx-block-increment: 15px;
}

#inputBar {
	-fx-background-radius: 0, 0;
	-fx-font-family: "Montserrat Light";
	-fx-font-size: 17px;
}

#helpPane {
	-fx-background-color: #474E60;
}

#helpHeader {
	-fx-font-family: "Montserrat Ultra Light";
	-fx-font-size: 30px;
	-fx-text-fill: white;
}

#helpContentPane {
	-fx-background-color: transparent;
	-fx-font-family: "Montserrat Light";
	-fx-font-size: 14px;
	-fx-text-fill: white;
	-fx-border-color: transparent;
}

#helpContentPane .scroll-pane:fitToWidth .viewport .content, #helpContentPane .scroll-pane:fitToWidth .scroll-bar:vertical .track-background {
	-fx-background-color: #474E60;
}

#helpContentPane .scroll-pane:fitToWidth .scroll-bar:vertical{
	-fx-max-width: 10px;
	-fx-pref-width: 10px;
}