.root {
	-fx-background-color: #474E60;
}
#titlePane {

	-fx-background-color: transparent;
}

#logoLabel {
	-fx-font-family: "Sacramento-Regular";
	-fx-font-size: 30px;
	-fx-text-fill: white;
}

#inputBar {
	-fx-font-family: "Montserrat-Light";
	-fx-font-size: 17px;
}

#displayHeader {
	-fx-font-family: "Montserrat-Light";
	-fx-font-size: 17px;
	-fx-text-fill: white;
	-fx-font-style: italic;
}
#headerPane {
	-fx-background-color: grey;
}

#displayPane {
	-fx-border-width: 0, 0, 0, 0;
	-fx-border-color: transparent;
	-fx-background-color: transparent;
}

#indexHeader {
	-fx-font-family: "Montserrat-Light";
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-text-fill: white;
}

#descHeader {
	-fx-font-family: "Montserrat-Light";
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-text-fill: white;
}

#startHeader {
	-fx-font-family: "Montserrat-Light";
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-text-fill: white;
}

#endHeader {
	-fx-font-family: "Montserrat-Light";
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-text-fill: white;
}

#taskIndexLabel {
	-fx-font-family: "Montserrat-Light";
	-fx-font-size: 15px;
	-fx-text-fill: #474E60;
}

#taskDescLabel {
	-fx-font-family: "Montserrat-Light";
	-fx-font-size: 15px;
	-fx-text-fill: #474E60;
}

#taskStartLabel {
	-fx-font-family: "Montserrat-Light";
	-fx-font-size: 14px;
	-fx-text-fill: #474E60;
}

#taskEndLabel {
	-fx-font-family: "Montserrat-Light";
	-fx-font-size: 14px;
	-fx-text-fill: #474E60;
}

#feedbackPane {
	-fx-background-color: #313745;
}
#feedbackArea {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-font-family: "Montserrat-Light";
	-fx-font-size: 15px;
	-fx-text-fill: white;
}

#feedbackArea .scroll-pane .viewport{
    -fx-background-color: transparent;
}

#feedbackArea .scroll-pane .content{
    -fx-background-color: transparent;
}