* {
	-taskBackgroundPane-color: #86E086;
	-selector-color: transparent;
	-label-color: #313745;
}

#taskBackgroundPane {
	-fx-background-color: -taskBackgroundPane-color;
}

#selector, #selectorPane {
	-fx-background-color: -selector-color;
}

Text {
	-fx-font-family: "Montserrat Light";
	-fx-font-size: 14px;
	-fx-fill: -label-color;
}

#taskLocationText, #dateCreatedHeader, #dateModifiedHeader, #dateCreatedText, #dateModifiedText {
	-fx-font-family: "Montserrat Ultra Light";
	-fx-font-size: 12px;
}
