#typeSuggestionsPane {
	-fx-background-color: #474E60;
	-fx-background-radius: 7px;
	-fx-border-color: white;
	-fx-border-width: 3px;
	-fx-border-radius: 4px;
}

#commandWordText {
	-fx-fill: white;
}

#userSuggestionText {
	-fx-font-family: "Montserrat Ultra Light";
	-fx-fill: white;
	-fx-font-size: 14px;
}

Text {
	-fx-font-family: "Montserrat Light";
	-fx-font-size: 15px;
}