* {
	-taskBackgroundPane-color: #FFC57F;
	-noviceHeaderPane-color: #45495B;
	-selector-color: #FF923E;
	-selectorPane-color: #FFAF4B;
	-label-color: #313745;
}

#taskBackgroundPane {
	-fx-background-color: -taskBackgroundPane-color;
}

#noviceHeaderPane {
	-fx-background-color: -noviceheaderPane-color;
}

#noviceHeaderLabel {
	-fx-font-family: "Montserrat";
	-fx-font-size: 14px;
	-fx-fill: -taskBackgroundPane-color;
}

#selector {
	-fx-background-color: -selector-color;
	-fx-border-color: white;
	-fx-border-width: 0 1 0 0;
}

#selectorPane {
	-fx-background-color: -selectorPane-color;
}

Text {
	-fx-font-family: "Montserrat Light";
	-fx-font-size: 14px;
	-fx-fill: -label-color;
}

#multipleSlotPane {
	-fx-background-color: -selector-color;
}

#multipleSlotCounter {
	-fx-font-family: "Montserrat Light";
	-fx-font-size: 12px;
	-fx-text-fill: white;
}

#taskLocationText, #dateCreatedHeader, #dateModifiedHeader, #dateCreatedText, #dateModifiedText {
	-fx-font-family: "Montserrat Ultra Light";
	-fx-font-size: 12px;
}

#taskDescText, #taskDateTimeText {
	-fx-strikethrough: true;
}