* {
	-taskBackgroundPane-color: rgb(134, 224, 134, 0.7);
	-selector-color: transparent;
	-label-color: rgb(0, 0, 0, 1.0);
}

#taskBackgroundPane {
	-fx-background-color: -taskBackgroundPane-color;
}

#selector {
	-fx-background-color: -selector-color;
}

Text {
	-fx-font-family: "Montserrat Light";
	-fx-font-size: 14px;
	-fx-fill: -label-color;
}

#taskLocationText, #dateCreatedHeader, #dateModifiedHeader, #dateCreatedText, #dateModifiedText {
	-fx-font-size: 12px;
}
